[Desktop Entry]
Name=Thunderbird
Comment=Send and receive mail with Thunderbird
Comment[es]=Lea y escriba correos y noticias con Thunderbird
GenericName=Mail Client
GenericName[es]=Cliente de correo
Exec=/usr/lib/thunderbird/thunderbird %u
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=ComposeMessage;OpenAddressBook;
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Desktop Action ComposeMessage]
Name=Write new message
Name[es_ES]=Redactar nuevo mensaje
Exec=/usr/lib/thunderbird/thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Name[es_ES]=Abrir libreta de direcciones
Exec=/usr/lib/thunderbird/thunderbird -addressbook
